body{

font-family: Arial;
background:#f4f4f4;
text-align:center;

}

.container{

width:90%;
max-width:700px;
margin:auto;
margin-top:100px;
background:white;
padding:40px;
border-radius:10px;

}

h1{

color:#0a7c2f;

}

.theme{

color:#b8860b;
font-weight:bold;

}

.motto{

margin-top:20px;
font-style:italic;

}

.btn{

display:inline-block;
margin-top:20px;
padding:15px 25px;
background:#0a7c2f;
color:white;
text-decoration:none;
border-radius:5px;

}

input{

width:100%;
padding:12px;
margin-top:10px;

}

button{

margin-top:20px;
padding:12px 20px;
background:#0a7c2f;
color:white;
border:none;

}
